.register-wrapper {
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 440px;
  padding: 40px;
  border-radius: 18px;
  text-align: center;
  margin: 0px auto;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #2e3f8f;
}

.title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.subtitle {
  color: #7c7c7c;
  margin-bottom: 15px;
  
}

.register-form .ant-input,
.register-form .ant-input-password input {
  height: 20px;
  border-radius: 10px;
}

.register-btn {
  width: 100%;
  height: 38px;
  border-radius: 10px;
  margin-top: 5px;
}

.divider {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  color: #888;
}

.social-btns {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-box {
  width: 50px;
  height: 45px;
  border-radius: 10px;
}

.footer-text {
  margin-top: 18px;
  color: #777;
  font-size: 14px;
}

.login-link {
  color: #2e3f8f;
  cursor: pointer;
  font-weight: 600;
}

.copyright {
  margin-top: 20px;
  font-size: 13px;
  color: #999;
}